*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    /* background: black; */
}
.header{
    background: #222228;
}

.header_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.nav_list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.nav_link{
    color: white;
    text-align: center;
    font-family: sans-serif;
    text-decoration: none;
}
.btn{
    text-decoration: none;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #79109D;
    padding: 8px 20px;
    border-radius: 10px;
    display: inline-block;

}
.section_img{
    display: flex;
    text-align: center;
    border-radius: 20px;
    
}
.title-medium{
    display: flex;
    text-align: center;
    color: white;
    font-size: 30px;
}
.elips-decor{
    width: 300px;
    height: 300px;
    background: purple;
    position: absolute;
    border-radius: 50%;
    right: 250px;
    z-index: 0;
    filter: blur(150px);
}

.main{
    background: rgb(36, 33, 33);

}
.text{
    color: white;
    max-width: 441px;
    max-height: 229px;
}
.avilable{
    color: rgb(255, 255, 255);
    
}
.section1_content{
    position: relative;
    display: flex;
    padding: 150px 0px;
    
}
.section_imgBox{
    position: relative;    
}
.avilable{
    display: flex;
    align-items: center;
    gap: 10px;
}
.section_footer{
    display: flex;
    padding: 10px;
    gap: 10px;
}
.aviableItem{
    display: flex;
    align-items: center;
    gap: 10px;
}
.aviableList{
    display: flex;
    gap: 10px;
}
.elips-decor{
    width: 300px;
    height: 300px;
    background: purple;
    position: absolute;
    border-radius: 50%;
    right: 250px;
    z-index: 0;
    filter: blur(150px);
}
.foto{
    display: flex;
    gap: 500px;
}
.section2{
    position: relative;
}
.tumba{
    position: absolute;
    left: 0;
    top: 0;

}
.umba{
    position: absolute;
    top: 0;
    right: 0;
}
.text2{
    color: white;
    display: flex;
    position: relative;
    text-align: center;
    font-size: 25px;
}
.title-medium2{
    color: white;
    text-align: center;
    font-size: 60px;
}
.qwerty{
    position: relative;
    width: 694px;
    display: flex;
    gap: 24px;
    flex-direction: column;
}

.section2_content{
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3{
    position: relative;
}
.tekst{
    color: white;
    text-align: center;
}

.np{
    text-align: center;
    color: grey;
    font-size: 20px;
}
.inlp{
    font-size: 60px;
    display: flex;
    position: relative;
}
.section3_content{
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aviableIMG{
    padding: 10px;
}
.iss{
    font-size: 15px;
}
.card_pink{
    background-color: rgb(65, 65, 65);
    border-radius: 20px;
    padding: 20px;
    position: absolute;
}
.card_dark{
    background-color: purple;
    border-radius: 20px;
    padding: 20px;
    
}
